default: &default
  adapter: postgresql
  encoding: unicode
  host: localhost
  pool: <%= ENV.fetch("RAILS_MAX_THREADS") { 5 } %>

development:
  <<: *default
  database: {{dbname}}_development

test:
  <<: *default
  database: {{dbname}}_test

production:
  <<: *default
  database: {{dbname}}_production
  username: {{dbuser}}
  password: {{dbpassword}}
