[Unit]
Description=Puma HTTP Server
After=network.target

# Uncomment for socket activation (see below)
# Requires=puma.socket

[Service]
# Foreground process (do not use --daemon in ExecStart or config.rb)
Type=simple

# Preferably configure a non-privileged user
User=deploy
Group=deploy

# Specify the path to your puma application root
WorkingDirectory={{app_dir}}/current

# Helpful for debugging socket activation, etc.
# Environment=PUMA_DEBUG=1
# EnvironmentFile=/home/deployer/app/.env

# The command to start Puma
# ExecStart=<WD>/sbin/puma -b tcp://0.0.0.0:9292 -b ssl://0.0.0.0:9293?key=key.pem&cert=cert.pem
# ExecStart=/usr/local/bin/bundle exec --keep-file-descriptors puma -e production
ExecStart=/bin/bash -a -c 'source /usr/local/rvm/scripts/rvm && rvm use {{ruby_version}} && puma -C {{app_dir}}/current/config/puma/production.rb'

Restart=always

[Install]
WantedBy=multi-user.target
